.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 5px 5px 0 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
    background-color: #fff !important;
}

/* Additional styles for the table container */
.table-container {
    border-radius: 5px;
    border: none !important;
    padding: 2rem;
    background-color: #f4f4f4 !important;
}

/* Add this CSS to highlight the active tab */
.tablinks.active {
    background-color: gray;
    color: white;
}

table th {
    color: #fff;
    text-align: center;
    color: #585858;
    opacity: 0.6;
    padding: 10px;
    border: none;
  }

  table td {
    text-align: center;
    color: #303030;
    border: none;
  }

button {
    padding-top: 10px;
}
  