.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 0 0 0;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 5px 5px 0 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
    background-color: #fff !important;
}

/* Additional styles for the table container */
.table-container {
    border: 1px solid #ccc;
    background-color: #fff !important;
    border-radius: 5px;
    padding: 20px;
}

/* Add this CSS to highlight the active tab */
.tablinks.active {
    background-color: gray;
    color: white;
}

table th {
    background-color: #070372;
    padding: 10px;
    color: #fff;
    text-align: center;
  }

  table td {
    text-align: center;
  }

tr:nth-child(even) {
    background-color: rgba(7, 3, 114, 0.1);
}

button {
    padding-top: 10px;
}
  