body {
    padding-left: 18rem; /* Set padding top equal to navbar height */
    padding-top: 4rem;
    padding-right: 2rem;
    font-family: 'Roboto', sans-serif;
  }

  .sidebar-divider {
    border-top: 2px solid white;
    margin: 0 1rem 1rem;
  }

.nav-link.inactive {
  color: grey !important;
}
  
.nav-link:hover {
  color: white !important;
}
  
  .navbar-brand {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 9rem; /* adjust the width to your desired size */
    height: auto; /* maintain aspect ratio */
}

  /* Global Styles */
  header {
    background-color: #364F6B;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .stat {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    flex-basis: 23%;
    padding: 20px;
    text-align: center;
  }
  
  .stat h3 {
    margin-top: 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  td:nth-child(4) a {
    margin-left: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type=text], input[type=email], input[type=password] {
    padding: 10px;
    border-radius: 5px;
  }
  
  input[type=submit] {
    background-color: #364F6B;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2B3A4D;
  }


  footer {
    
    color: #000000; /* set text color */
    padding: 20px; /* add padding for spacing */
    text-align: center; /* center-align text */
    width: 100%; /* make footer span the entire width */
  }

  @media screen and (max-width: 993px) {
    .logo-image {
      width: 6.3rem; /* adjust the width to your desired size */
      height: auto; /* maintain aspect ratio */
  }
  }

  @media (min-width: 992px) {

    .navbar {
      flex-direction: column;
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 0;
    }
    
    .navbar-collapse {
      width: 100%;
      padding: 20px;
      position: absolute;
      top: 75px;
      left: 0;
    }
    
    .navbar-nav {
      width: 100%;
    }
    .nav-link {
      font-size: 22px;
      font-weight: bold;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      margin-top: 10px;
      margin-left: 10%;
    }
  
    .navbar-nav .nav-link {
      padding: 15px;
      padding-left: 15px;
      color: #fff;
    }
    
    .navbar-nav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    
    .navbar-brand {
      margin-top: 20px;
      margin-bottom: 25px;
      padding-left: 10px;
      font-size: 35px;
      font-family: Arial, sans-serif;
      font-weight: bolder;
    }
  }


@media screen and (max-width: 991.33px) { 
  body {
    padding-left: 2rem;

  }
}

@media screen and (max-width: 767px) { 
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }    
}

@media screen and (max-width: 1176px) {

  .nav-link {
    font-size: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10%;
  }

  .navbar-nav .nav-link {
    padding: 12px;
    padding-left: 15px;
    color: #fff;
   
  }
}