/* Global Styles */
body {
  background-color: rgb(233, 233, 233) !important;
  font-size: 16px;
}
  
header {
  background-color: rgba(7, 3, 114, 0.9) !important;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}
  
main {
  padding: 20px;
} 

.text-decoration {
  color: rgba(7, 3, 114, 0.9);
  text-decoration: none;
}

.chart {
  padding: 10px;
  background-color: #fff;
}

#myChart {
  max-width: 50%;
  max-height: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
}
  
h2 {
  margin-top: 0;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  flex-basis: 23%;
  padding: 20px;
  text-align: center;
}

.stat h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type=text], input[type=email], input[type=password] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}
  
input[type=submit] {
  background-color: #364F6B;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2B3A4D;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.card-header {
  background-color: rgba(7, 3, 114, 0.9) !important;
  color: #fff !important;
}

h6 {
  color: #fff !important;
}

.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400 {
  color: #fff !important;
}

footer {
  color: #000000;
  padding: 20px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

  /* Adminpage styles */
  .border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
  }
  
  .border-left-success {
      border-left: 0.25rem solid #1cc88a !important;
  }
  
  .border-left-info {
      border-left: 0.25rem solid #36b9cc !important;
  }
  
  .border-left-warning {
      border-left: 0.25rem solid #f6c23e !important;
  }
  
  .table-container-user {
    border: 1px solid #ccc;
    background-color: #fff !important;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-container-admin {
  border: 1px solid #ccc;
  background-color: #fff !important;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 2rem;
}

/* hover title */
.hover:hover {
  color: #070372;
  cursor: pointer;
  text-decoration: underline;
}

/* Style the table headers */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #070372 !important;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Style the table rows and cells */
tr {
    border-bottom: 1px solid #ccc;
}

td {
    padding: 10px;
}

/* Style the odd rows with a different background color */
tr:nth-child(even) {
  background-color: rgba(7, 3, 114, 0.1);
}

/* Style links within the table */
a {
    color: #007bff;
    text-decoration: none;
}

/* table overflow */
.table-container {
  overflow: auto;
}

/* Chatbot */
.container {
  margin-top: 2rem;
}

.chatbot-container {
  width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Style the chatbot messages and user input */
.chatbot-messages {
  height: 400px; /* Adjust the height as needed */
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.chatbot-input input[type=text] {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  }

button#send-button {
  width: 10%;
  height: 40px;
  margin-top: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Define styles for chatbot messages and user messages */
.chatbot-message {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-message {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tip-message {
  display: none;
  position: absolute;
  background-color: #D4D4D4;
  color: #151515;
  padding: 10px;
  border-radius: 5px;
  margin-top: -40px; 
  margin-left: 10px; 
  z-index: 1;
}