h3 {
  text-align: center; 
  font-weight: bolder; 
  font-family: Arial;
  font-size: 1.9rem;
}

.inputS {
	display: inline-block;
	position: relative;
	padding-left: 860px;
}

.containerfav {
	background-color: lightgray;
	width: 75vw;
	height: 75vh;
}

.cards {
  background-color: white;
  width: 68vw;
  height: 8vh;
  border-radius: 15px;
}

.cards2 {
  width: 75%;
  font-size: 2vh;
  text-align: left;
  padding-top: 11px;
}

.btn {
  font-size: 2vh;
}