body {
    padding-left: 17rem; /* Set padding top equal to navbar height */
    padding-top: 5rem;
    padding-right: 2rem;
}

.card-body {
  overflow: auto;
}

.table-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  padding-right: 2rem;
  overflow: hidden;
}

th {
  color: #585858;
  opacity: 0.6;
  padding: 10px;
}

td {
  color: #303030;
  padding: 10px;
}

.table th,
.table td {
text-align: center;
border: none;
padding: 12px;
}

a {
  color: #000; /* Set the color to black */
  text-decoration: none; /* Remove underline */
}

.hover:hover {
  color: #070372;
  text-decoration: underline;
}

/* when at lower screen sizes decrease the padding-left of body */

@media screen and (max-width: 993px) {
  body {
        padding-left: 1rem; /* 0px */
    }
}

@media (max-width: 576px) {
  body {
    padding-left: 1rem; /* 0px */
}
}

