body {
    font-family: Arial, sans-serif;
    height: 0;
  }

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 6rem; /* adjust the width to your desired size */
    height: auto; /* maintain aspect ratio */
    margin-right: 10px; /* add optional margin for spacing */
}

.navbar {
    background-color: #e9ecef; /* set the background color */
    overflow: hidden; /* hide any overflowing elements */
    z-index: 1;
    height: 60px;
  }
  
  .navbar a {
    float: left; /* align links horizontally */
    display: block; /* make links take up full width of container */
    font-weight: bold;
    /* color: white; set text color */
    text-align: center; /* center text within links */
    padding: 14px 16px; /* add padding to links */
    text-decoration: none; /* remove underlines from links */
  }
  
  .navbar a:hover {
    background-color: #e7e7e7; /* change background color on hover */
    color: black; /* change text color on hover */
  }
  
  .active {
    background-color: #4CAF50; /* set active link background color */
    color: white; /* set active link text color */
  }