/* General styles */
* {
  font-family: 'Gilroy-Medium', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  height: 550px;
}

.lead {
  color: #fff;
  font-weight: bolder;
  line-height: 1.5;
}

.gener {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.gener:hover {
  transform: scale(1.05); /* Increase the size by 10% on hover */
  transition: transform 0.6s ease; /* Smooth transition */
}

/* gener-image */
.gener-image {
  border-radius: 15px;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  width: 30%;
  height: auto;
  max-width: 30%;
}

/* Jumbotron styles */
.jumbotron {
  height: 100vh; /* Set jumbotron height to 100% of the viewport height */
  color: #000;
  width: 100%;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.jumbotron p {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

/* About section styles */
.about {
  padding: 5rem 0;
}

.about h2 {
  color: #313131;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-bottom: 0;
  text-align: center;
}

.about .row {
  margin: 0;
}

.about .img-wrap {
  padding-top: 440px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.img-wrap:hover {
  transform: scale(1.01); /* Scale up by 5% on hover */
  transition: transform 0.6s ease;
}

.about .bg-edit {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about .bg-blue {
  background-color: #263039;
}

.about .text-white {
  color: #fff;
}

.about .spotlight-text {
  display: flex;
  align-items: center;
}

.about .vertical-center-rel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about .text-uppercase {
  text-transform: uppercase;
}

.about .f-w-900 {
  font-weight: 900;
}

.about .m-b-md {
  margin-bottom: 20px;
}

.about .btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.about .btn:hover {
  background-color: #fff;
  color: #2c82d3;
}

/* Features section styles */
.features {
  background-color: #f8f9fa;
  padding: 5rem 0;
}

.features h2 {
  color: #313131;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-bottom: 0;
  text-align: center;
}

.features .row {
  margin: 0;
}

.features .card {
  margin-bottom: 3rem;
  min-height: 23vh;
}

.features .card-body{
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2) !important;
  min-height: 23vh;
}

.features .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.features .card-text {
  font-size: 1rem;
  line-height: 1.5;
}

/* Chatbot section styles */
.chatbot {
  margin: 50px 0;
  text-align: center;
}

.chatbot .card {
  border: none;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);  
  padding: 30px;
  background-color: #fff;
  border-radius: 6px;
}

.chatbot .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chatbot .card-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.chatbot .try-now-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.chatbot .try-now-btn:hover {
  background-color: #0056b3;
}

.chatbot h2 {
  color: #313131;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-bottom: 0;
  text-align: center;
}

.user-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#user-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#send-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#send-btn:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  color: white;
  font-size: 1.2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

strong {
  color: rgb(224, 224, 71);
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  .jumbotron {
      height: 400px;
      width: 100%;
  }

  .jumbotron h1 {
      font-size: 3rem;
  }

  .jumbotron p {
      font-size: 1.2rem;
  }

  .about h2 {
      font-size: 2rem;
  }

  .about .f-w-900 {
      font-size: 1.5rem;
  }

  .about .m-b-md {
      margin-bottom: 10px;
  }

  .features h2 {
      font-size: 2rem;
  }

  .features .card-title {
      font-size: 1.5rem;
  }

  .features .card-text {
      font-size: 1rem;
  }

  .chatbot .card-title {
      font-size: 20px;
  }

  .chatbot .card-text {
      font-size: 14px;
  }

  .chatbot h2 {
    font-size: 2rem;
  }

  footer {
      font-size: 1rem;
      text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
      height: 300px;
      width: 100%;
  }

  .jumbotron h1 {
      font-size: 2rem;
  }

  .jumbotron p {
      font-size: 1.2rem;
  }

  .about h2 {
      font-size: 1.5rem;
  }

  .about .f-w-900 {
      font-size: 1.2rem;
  }

  .about .m-b-md {
      margin-bottom: 10px;
  }

  .features h2 {
      font-size: 1.5rem;
  }

  .features .card-title {
      font-size: 1.2rem;
  }

  .features .card-text {
      font-size: 0.9rem;
  }

  .chatbot .card-title {
      font-size: 18px;
  }

  .chatbot .card-text {
      font-size: 12px;
  }

  .chatbot {
      padding: 20px;
  }

  .chatbot h2 {
    font-size: 1.5rem;
  }

  footer {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron img {
      height: 300px;
      width: 100vw;
  }

  .jumbotron h1 {
      font-size: 1.5rem;
  }

  .jumbotron p {
      font-size: 0.8rem;
  }

  .about h2 {
      font-size: 1.2rem;
  }

  .about .f-w-900 {
      font-size: 1rem;
  }

  .about .m-b-md {
      margin-bottom: 10px;
  }

  .features h2 {
      font-size: 1.2rem;
  }

  .features .card-title {
      font-size: 1rem;
  }

  .features .card-text {
      font-size: 0.8rem;
  }

  .chatbot .card-title {
      font-size: 16px;
  }

  .chatbot .card-text {
      font-size: 10px;
  }

  .chatbot h2 {
    font-size: 1.2rem;
  }

  footer {
      font-size: 0.8rem;
      text-align: center;
  }
}
