html {
    background-color: #858585;
}
/* Position the form in the middle-right of the screen */
form {
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    right: 20%;
    padding: 50px 30px;
    transform: translateY(-50%);
    background-color: #F0F0F0;
    
}

