* {
  font-family: 'Gilroy-Bold', sans-serif;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

form {
  border: 2px solid black;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: #F0F0F0;
  width: 60%;
  max-width: 400px;
  padding: 10vh 2vw;
  right: 30%;
}
  
.message {
  margin: 0 auto; 
  max-width: 50%;

}

  @media screen and (max-width: 768px) {
    form {
      padding: 5vh 5vw;
      max-width: 80%;
      right: auto;
      left: 10%;
    }
  }

