th {
    color: white;
}
td{
    background-color: #fff !important;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 16px;
}
.title{
    text-decoration: none !important;
    color: #585858;
}

.title:hover{
    color: #92B9E7;
}

.button {
display: inline-block;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
text-align: center;
text-decoration: none;
border-radius: 5px;
margin: 5px;
cursor: pointer;
}

.button:hover {
background-color: #0056b3;
}

.thead {
color: white !important;
}

.justified-text {
text-align: justify;
max-width: 200px; 
overflow: hidden; 
text-overflow: ellipsis;
}

button.toggle-favorite {
background: none;
color: #f1c40f;
border: none;
padding: 0;
cursor: pointer;
}  

.toggle-favorite {
display: inline-block;
}

.title-with-star {
display: flex;
align-items: center;
}

.add-to-favorites-hint {
font-size: 12px;
color: #777;
margin-left: 5px;
}

.card-body {
    overflow: auto;
}