html {
    background-color: #858585;
}
/* Position the form in the middle-right of the screen */
form {
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 30vh;
    right: 0%;
    left: 0%;
    padding: 50px 30px;
    margin: 5% 30%;
    transform: translateY(-50%);
    background-color: #F0F0F0;
}

/* Style for dropdown menu */
.form-group select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Style for file input field */
.form-group input[type="file"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.logo {
  width: 200px;
  height: 70px;
}
