body {
  padding-top: 4rem;
  padding-left: 17rem;
  padding-right: 2rem;
}

button.toggle-favorite {
  background: none;
  color: #f1c40f;
  border: none;
  cursor: pointer;
}  

.card.shadow.mb-5 {
  height: 48rem;
  padding: 20px;
}

.card-body {
  height: 55rem;
  overflow: auto;
}

@media screen and (max-width: 991.33px) { 
  body {
    padding-left: 2rem;

  }
}

@media screen and (max-width: 767px) { 
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }    
}