body {
  padding-top: 2.5rem;
  padding-left: 17rem;
  padding-right: 2rem;
}

button.toggle-favorite {
  background: none;
  color: #f1c40f;
  border: none;
  cursor: pointer;
}  

.card.shadow.mb-5 {
  height: 48rem;
  padding: 20px;
}

.card-body {
  overflow: auto;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.table th,
.table td {
text-align: left;
}

.hover:hover {
  color: #070372;
  text-decoration: underline;
}

@media screen and (max-width: 991.33px) { 
  body {
    padding-left: 2rem;

  }
}

@media screen and (max-width: 767px) { 
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }    
}