.card.shadow.mb-5 {
    padding: 20px;
}

.card {
    margin-bottom: 3rem;
    color: #000;
}

.hover {
    color: #000;
    text-decoration: none;
}

.hover:hover {
    color: #070372;
    text-decoration: underline;
  }

.table-responsive {
    overflow-y: hidden;
}
