* {
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 5rem;
}

.sidebar-divider {
    border-top: 2px solid white;
    margin: 0 1rem 1rem;
  }

  .nav-link.inactive {
    color: grey !important;
  }

  .nav-link.inactive:hover {
    color: white !important;
  }
  
  .nav-link.personal:hover, .nav-link.active.personal {
    color: white !important;
  }

  .nav-link.personal {
    color: grey !important;
  }

  .new-user-guide-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.new-user-guide-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 250px;
    margin-left: 16rem;
    margin-top: 15rem;
    text-align: center;
}

.nav-link {
  font-size: 18px;
}

.nav-item {
  margin-left: 1rem;
}

.logout {
  margin-left: 1.5rem;
}

@media (min-width: 992px) {
  .navbar {
    max-width: 220px;
    z-index: 9999;
  }  
}

@media screen and (max-width: 992px) {
  .nav-link {
    margin-left: 0;
  }
}


@media screen and (max-width: 576px) {
  .new-user-guide-card {
    margin-left: 3.5rem;
  }
}

.new-user-guide-content {
  text-align: left;
}

.new-user-guide-content p {
  margin-left: 20px;
}

.new-user-guide-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.new-user-guide-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.new-user-guide-buttons button#skip-guide-button {
    background-color: #ccc;
}

.nav-link {
  font-size: 16px;
}

.navbar-text {
  font-size: 16px;
  text-decoration: none;
}

/* media 476 */
@media screen and (max-width: 476px) {
  .nav-item {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1176px) {


  .logo-image {
    width: 6.3rem; /* adjust the width to your desired size */
}

  .nav-link {
    font-size: 10px;
  }
  
  .navbar-text {
    font-size: 10px;
  }

  .navbar-nav .nav-link {
    padding: 8px;
    padding-left: 15px;
    color: #fff;
  }

  .dropdown-item {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}