body {
    padding-left: 19rem; /* Set padding top equal to navbar height */
    padding-top: 6rem;
  }
  
  @media (min-width: 992px) {
    .navbar {
      flex-direction: column;
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 0;
    }
    
    .navbar-collapse {
      width: 100%;
      padding: 20px;
      position: absolute;
      top: 50px;
      left: 0;
    }
    
    .navbar-nav {
      width: 100%;
    }
    .nav-link {
      font-size: 24px;
      font-weight: bold;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      margin-top: 10px;
      margin-left: 10%;
    }
  
    .navbar-nav .nav-link {
      padding: 15px;
      padding-left: 15px;
      color: #fff;
      text-align: justify;
    }
    
    .navbar-nav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    
    .navbar-brand {
      margin-top: 20px;
      margin-bottom: 25px;
      padding-left: 10px;
      font-size: 35px;
      font-family: Arial, sans-serif;
      font-weight: bolder;
    }
  }

/* teacherupload */
  .containerbg {
    background-color: #b6b6b6;
    width: 80%;
    height: 85vh;
    border-radius: 5px;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
    padding-left: 23px;
    padding-right: 23px;
  }
  
  .link1 {
    padding-right: 100px;
    padding-left: 100px;
  }
  
  .card {
    width: 79%;
    height: 44vh;
  }
  
  .dz-button {
    background-color: #89C3F9;
    border-radius: 20px;
    border: none;
  }